@tailwind base;
@tailwind components;
@tailwind utilities;

.moveUp {
    animation: movingUP 10s linear infinite alternate;
    ;
}

@keyframes movingUP {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(0, -50%);
    }
}